@import '~office-ui-fabric-react/dist/sass/References.scss';

.roundedImage {
  border-radius: 50%;
}

.persona {
  text-align: center;
}

.title {
  text-align: center;
}

.date {
  text-align: center;
}

.filterButton
{
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  margin-right: 8px;
}

.filterButtonActive
{
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  margin-right: 8px;
  background-color: red;
  color: white;
}

.contentContainer
{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.itemContainer
{
  margin: 0;
  width: 20%;
  margin-bottom: 10px;
}

.mainContainer
{
  margin: 0;
}

.bottomContainer
{
  margin-top: 10px;
  text-align: center;
}

.loadMoreButton
{
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  margin-right: 8px;
}

.bottomImagesContainer
{
  margin: 0;
}

.emailContainer
{
  margin: 0;
}

.emailImage
{
    width: 118px;
    height: 71px;
}

.teamsContainer
{
  margin: 0;
}

.teamsImage
{
    width: 75px;
    height: 71px;
}
