@import '~office-ui-fabric-react/dist/sass/References.scss';

.roundedImage {
  border-radius: 50%;
}

.persona {
  margin: 0;
}

.title {
  margin: 0;
}

.date {
  margin: 0;
}

.filterButton
{
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  margin-right: 8px;
}

.filterButtonActive
{
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  margin-right: 8px;
  background-color: red;
  color: white;
}
