@import '~office-ui-fabric-react/dist/sass/References.scss';

.roundedImage {
  border-radius: 50%;
}

.persona {
  margin: 0;
}

.title {
  margin: 0;
}

.date {
  margin: 0;
}

.filterButton
{
  margin: 0;
}
